.landing {
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
}

.landing-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #c9bfbf solid;
  padding: 20px 60px;
}

.landing-row.row-header > span:first-child {
  margin-left: 10px;
}

.landing a {
  text-decoration: none;
}

.landing-row--userInfo {
  display: flex;
  align-items: center;
}

.landing-row--userInfo img {
  width: 50px;
  margin-right: 10px;
}
