.overview-container .child-approve-list {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
}

.overview-container .child-approve-list .cap-title {
  width: 100%;
  display: block;
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.overview-product-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #c9bfbf solid;
  padding: 20px 0px;
}

.overview-product-card:last-child {
  border-bottom: none;
}

.overview-product-card .opc-image > div {
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.overview-product-card .opc-product-info {
  flex: 1 1;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
}

.overview-product-card .opc-product-info .opc-title {
  margin-bottom: 15px;
}

.overview-product-card .opc-product-info .opc-price {
  font-weight: 600;
}

.overview-product-card .opc-remove-btn {
  padding: 0 50px;
}

.overview-container .section-title {
  font-size: 24px;
  font-weight: 500;
  margin: 40px 0;
  display: block;
}

.overview-container .side .side-wrapper {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 108px;
}

.overview-container .side .side-wrapper > div {
  margin-bottom: 20px;
}

.overview-container .side .side-wrapper > div:first-of-type {
  border-bottom: 1px solid #e0dbdb;
}

.overview-container .side .side-wrapper .checkout-btn {
  text-transform: uppercase;
  background-color: #36a636;
  border-radius: 4px;
  padding: 0 48px;
  line-height: 42px;
  font-size: 16px;
  color: white;
  border: none;
  font-weight: 600;
}

.overview-pending-list .carousel-section {
  display: flex;
}

.overview-pending-list .wl-carousel {
  width: 100%;
  overflow: hidden;
}

.overview-pending-list .wl-carousel .wrapper {
  white-space: nowrap;
  transition: 0.5s ease-in;
  display: flex;
}

.overview-pending-list .opl-wrapper {
  display: flex;
}

.overview-pending-list .opl-wrapper .opl-child {
  padding: 0px 16px 15px 16px;
  background: #fff;
  border-radius: 8px;
  margin-right: 14px;
  display: flex;
  flex-direction: column;
}
.overview-pending-list .opl-wrapper .opl-child .opl-title {
  width: 100%;
  display: block;
  border-bottom: 1px solid #f2f2f2;
  font-size: 14px;
  line-height: 21px;
  padding: 10px 0;
  margin-bottom: 5px;
}

.overview-pending-list .opl-wrapper .child-pending-list {
  display: flex;
  padding-top: 20px;
  flex-grow: 1;
}

.overview-pending-list .opl-wrapper .child-pending-list .opl-child-wrapper {
  padding: 0 20px;
}

.overview-pending-list .btn-next,
.overview-pending-list .btn-prev {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px;
}

.overview-pending-list .btn-next > span,
.overview-pending-list .btn-prev > span {
  border: 1px solid #e5e5e5;
  font-size: 18px;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 24%), 0 0 2px 0 rgb(0 0 0 / 12%);
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.overview-pending-list .btn-next > span:hover,
.overview-pending-list .btn-prev > span:hover {
  opacity: 0.5;
}
