{
  "plugins": ["testing-library", "jest-dom", "immutable"],
  "rules": {
    "testing-library/await-async-query": "error",
    "testing-library/no-await-sync-query": "error",
    "testing-library/no-debug": "warn",
    "jest-dom/prefer-checked": "error",
    "jest-dom/prefer-enabled-disabled": "error",
    "jest-dom/prefer-required": "error",
    "jest-dom/prefer-to-have-attribute": "error",
    "immutable/no-let": 2,
    "immutable/no-this": 2,
    "immutable/no-mutation": 2
  },
  "extends": ["plugin:testing-library/recommended", "plugin:testing-library/react", "plugin:jest-dom/recommended"]
}
