#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}
.App-header {
  border-bottom: 1px solid #e0dbdb;
  padding: 40px;
}

.footer {
  height: 200px;
  background-color: #0a1816;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-content {
  background-color: #f2f2f2;
  min-height: 90vh;
  padding-bottom: 60px;
}

.App-content > div {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

.App-content .main {
  flex: 0 0 70%;
  width: 70%;
  max-width: 70%;
  padding-top: 50px;
}

.App-content .side {
  flex: 0 0 30%;
  width: 30%;
  max-width: 30%;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  padding-top: 50px;
}

.App-header .total-text-group {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.App-header .total-price,
.App-header .total-saving,
.App-header .total-approved-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px;
  height: 60px;
  line-height: 30px;
}

a, a:visited, a:focus {
  text-decoration: none;
}