.product-list {
  display: flex;
  flex-wrap: wrap;
}

.wishlist-container {
  display: flex;
}
.wishlist-container .wishlist-side {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 8px;
}
.wishlist-container .wishlist-side a {
  text-decoration: none;
  color: black;
}

.wishlist-container .product-card {
  margin-right: 20px;
}
